// class="inline-block my-2 mr-1 text-lg"

#typingspace > p {
    margin-right: 1rem;
}


#typingspace > p > span {
    display: inline-block;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    margin-right: 0.2rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.correct {
    color: blue;
}

.incorrect {
    color: red;
}

.active {
    color: green;
    transform: translateY(-3px);
    background: #f6f6f6;
}