

#scores {   

    p:nth-child(even) {
    width: 5px;
    }

}

#typingspace {
    p {
    margin-right: 1rem;
    }
}

#typingspace {
    p { span {
    display: inline-block;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    margin-right: 0.2rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
    } }    
}


.correct {
    color: var(--correct-color);
}


span[waswrong = 'true'].correct {
    color: rgba(255, 217, 0, 0.598);
}

.incorrect {
    color: red;
}

.active {
    transform: translateY(-3px);
}

.active::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
    background-color: black;
    animation: blinkingcursor infinite 1.25s;
}



@keyframes blinkingcursor {

    0% {
        background: #000;
    }
    100% {
        visibility: visible;
    }
}

