<div class="flex flex-col items-center justify-center h-full mt-5">
	<div id="storytypediv">
		<ul
			class="flex items-center justify-center w-screen gap-8 p-5 cursor-pointer"
		>
			<span>></span>
			<li
				class="story-type-selector selected-story-type"
				(click)="setStoryType($event)"
			>
				HAPPINESS
			</li>
			<li class="story-type-selector" (click)="setStoryType($event)">
				ADVENTURE
			</li>
			<li class="story-type-selector" (click)="setStoryType($event)">
				MOTIVATION
			</li>
			<li class="story-type-selector" (click)="setStoryType($event)">
				LOVE
			</li>
			<li class="story-type-selector" (click)="setStoryType($event)">
				LUST
			</li>
			<li class="story-type-selector" (click)="setStoryType($event)">
				GRIEF
			</li>
			<span><</span>
		</ul>
	</div>
	<div class="min-h-[4rem] w-full">
		<p *ngIf="nextstory" class="mb-8 text-center">
			Next Story in {{ remainingtime }} seconds
		</p>
	</div>
	<div class="flex flex-wrap w-5/6 h-[18rem]" id="typingspace">
		<p class="my-2" *ngFor="let word of wordgenarray">
			<span
				#charactersonscreen
				*ngFor="let character of word.split('')"
				>{{ character }}</span
			>
		</p>
	</div>
	<div class="flex justify-center gap-20 m-10 select-none" id="scores">
		<p>WPM</p>
		<p>{{ wpm }}</p>
		<p>ACCURACY</p>
		<p>{{ accuracy }}</p>
		<p>TIME</p>
		<p>{{ elapsedtime }}</p>
	</div>
	<p
		class="font-semibold text-center cursor-pointer select-none text-slate-400"
		(click)="resetTest()"
	>
		Press TAB or CLICK to Reset
	</p>
</div>
