<!-- Component Render Area -->
<div class="flex flex-col items-center h-screen p-10">
    <app-navbar></app-navbar>
    <app-typeforce [maxwords]="40" class="flex flex-col items-center justify-center h-full"></app-typeforce>
    <p class="flex items-center gap-4 select-none">Made with ⚡by Ashmin <a href="https://github.com/AshminJayson/TypeForces"><img  class="cursor-pointer" src="../assets/github-mark-white.png " width="30" height="30" alt="" srcset=""></a></p>
</div>

<router-outlet></router-outlet>
